{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>은어 번역기</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <h1 class="title">주변 사람들이 사용하는 말을 못 알아 듣겠어요.....</h1>
    <div class="mybox1">
      <img src="{% static 'image/img7.png' %}" class="box">
      <p class="tra_p">"너만 못알아 들었던 말들.<br>
        이제 번역기를 돌려서 알아볼 수 있어!"</p>
      <p class="Lea_p">"해독기가 제대로 번역을 안해준다고?<br>
        그렇다면 너가 입력해봐~"</p>
      <p class="tra">은어를 번역하고 싶다면 "번역" 클릭</p>
      <p class="Lea">은어를 학습시키 싶다면 "학습" 클릭</p>
      <button type="button" class="btn1" onClick="location.href='{% url 'translator' %}'">번역</button>
      <button type="button" class="btn2" onClick="location.href='{% url 'add' %}'">학습</button>
    </div>
  </body>
</html>
