{% extends 'patter/base.html' %}

{% block content %}
<div class="page-header">
  <h1><a href="">등록된 은어</a></h1>
</div>

<div class="content container">
  <div class="row">
    <div class="col-md-8">
      {% for patter in patters %}
        <div class="patter">
          <h2><a href="{% url 'patter_detail' pk=patter.pk %}">{{ patter.patter_str }} : {{ patter.meaning_short_str }}</a></h2>
          <h4>
            {% if patter.meaning_long_str|length > 46 %}
              {{ patter.meaning_long_str|slice:":46" }}...
            {% else %}
              {{ patter.meaning_long_str }}
            {% endif %}</h4>
          등록한 사람 : {{ patter.author }}<br>
          <div class="date">등록 날짜 : {{ patter.created_date }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
