{% extends 'patter/base.html' %}
{% load static %}

{% block header %}
<style>
  .noresize{
    resize: none;
  }
</style>
{% endblock %}

{% block content %}
  <form method='get'>
    <!--은어 입력 공간-->
    <h1> 은어 입력 </h1>
    <textarea name="input" cols="40" rows="10"  class="noresize"></textarea>

    <!--뜻 변환 공간-->
    <h1> 뜻 출력 </h1>
    <textarea cols="40" rows="10" class="noresize">{{ output }}</textarea>

    <input type = "submit" value = "변환"/>
    <input type = "button" value = "이전 페이지" onclick = "location.href = '(첫페이지 주소)"/>
  </form>
{% endblock %}
