{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  	<title>Learning</title>
    <link rel="stylesheet" href="{% static 'css/Learning.css' %}">
  </head>
  <body>
    <form method="GET">
      <div>
        <img src="{% static 'image/img1.png' %}" class="layer1">
        <h1 class="Learning">Tranlating</h1>
      </div>
      <div class="mybox1">
        <h1 id="text1">입력</h1>
        <textarea class="content1" name="input" style="font-size:25px;" rows="10" cols="50" wrap="virtual" {% if input is None %}onclick="this.value=''"{% endif %}>{% if input is None %}내용을 입력해 주세요{% else %}{{ input }}{% endif %}</textarea>
      </div>
      <img src="{% static 'image/img5.png' %}" class="layer2">
      <div class="mybox2">
        <h1 id="text2">해석</h1>
        <textarea class="content2" style="font-size:25px;" rows="10" cols="50" wrap="virtual" readonly >{{ output }}</textarea>
      </div>
      <div class="but">
        <img style="cursor: pointer;" class="layer3" src="{% static 'image/img6.png' %}" onclick="location.href='{% url 'index' %}'">

        <input type="submit" value="번역" class="save">
      </div>
    </form>
  </body>
</html>
