@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
#text1{
  color:white;
  background-color:skyblue;
  width:120px;
  font-family: 'Hanna', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
#text2{
  color:white;
  background-color:skyblue;
  width:120px;
  font-family: 'Hanna', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
@outside_box{
  width: 99.5%;
}
#div{
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}
#one,two{
  float: left;
  position: relative;
  width: 100%;
}
